--index-url https://download.pytorch.org/whl/cu130
--extra-index-url https://pypi.org/simple
fastapi==0.115.6
invoke>=2.2.0
matplotlib>=3.10.8
numpy>=2.4.0
torch>=2.6.0
torchvision>=0.24.1
typer==0.21.1
uvicorn==0.34.0
scikit-learn>=1.8.0
