name: Unit Tests

on:
  push:
    branches:
      - main
      - dev/CI
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --dev --locked

      - name: Test with pytest
        run: |
          uv run pytest -v

      - name: Run tests & coverage # Gets uploaded as an artifact after the run. 
        run: |
          uv run coverage run -m pytest tests/
          uv run coverage report -m
